@model List<EntityLayer.Entire.VillaNumber>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="card shadow mb-4">
    <div class="card-header py-3">
  <a href="/VillaNumber/Create" class="btn btn-primary">Yeni Kayıt</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Villa Number</th>
                        <th>VillaId</th>
                        <th>SpecialDetails</th>
                        <th>Düzeltme</th>
                        <th>Silme</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Villa Number</th>
                        <th>VillaId</th>
                        <th>SpecialDetails</th>
                        <th>Düzeltme</th>
                        <th>Silme</th>
                    </tr>
                </tfoot>
                <tbody>

                  @foreach(var item in Model)
                  {
                    <tr>
                        <td>@item.Villa_Number</td>
                        <td>@item.VillaId</td>
                        <td>@item.SpecialDetails</td>
                        
                            <td><a asp-action="Edit" asp-route-id="@item.Villa_Number" class="btn btn-primary">Düzelt</a></td>
                            <td><a asp-action="Delete" asp-route-id="@item.Villa_Number" class="btn btn-danger">Silme</a></td>
                    </tr>
                  }


                </tbody>
            </table>
        </div>
    </div>
</div>

